<div id="pickMagic" class="pickMagic">
    <button id = "mathTask" class="magic-but">Math Task</button>
    <button id = "dragTask" class="magic-but">Drag Task</button>
    <button id = "translationTask" class="magic-but">Translate Task</button>
    <button id = "listenningTask" class="magic-but">Listenning Task</button>
</div>

<div id="task" class="task">
    <div id="mathTaskContainer" class="task-container">
        <p>What is the result of this expression?</p>
        <div id="mathTask-condition" class="task-condition"></div>
        <input id="mathTask-answer" class="task-answer" type="text" placeholder="Answer" required>
    </div>

    <div id="dragTaskContainer" class="gragTask">
        <p>Drag parts of words to create compound word!</p>
    </div>

    <div id="translationTaskContainer" class="task-container">
        <p>Translate into Russian</p>
        <div id="translation-condition" class="task-condition"></div>
        <input id="translation-answer" class="task-answer" type="text" placeholder="Answer" required>
    </div>

    <div id="listenningTaskContainer" class="task-container">
        <p>Click the button below and enter what you heard!</p>
        <button id="listen-button" class="listenning-button">Play</button>
        <input id="listen-answer" class="task-answer" type="text" placeholder="Answer" required>
    </div>

    <button id="accept-task" class="task-but">Reply!</button>

    <div id="lost-screen" class="lost-screen"></div>
    <div id="won-screen" class="won-screen"></div>
</div> 