.game {
    display: none;
    position: relative;
    font-family: "Open Sans",sans-serif;
}

.game-startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-activeScreen {
    display: none;
}

.game-start-bot {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 100px rgba(243, 189, 12, 0.9);
    width: 10em;
    margin: 5em auto;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(214, 201, 21);
    border: .1em solid rgb(214, 201, 21);
    border-radius: .3em;
}

.game-start-bot:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 60px rgba(243, 189, 12, 0.9);
    color: rgb(239, 225, 23);
    border: .1em solid rgb(239, 225, 23);
}

.game-rules {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    width: 25em;
    height: 13em;
    color: rgba(214, 201, 21, 0.9);
    box-shadow: 0 0 120px rgb(214, 201, 21);
    border: .1em solid rgba(214, 201, 21, 0.8);
}

.canvas {
    /* display: none; */
    margin-top: 14em;
    /* background-image: url('../img/MainBg.png'); */
    background-size: cover;
    box-shadow: 0 0 150px rgba(0,0,0,0.6);
    border: .2em solid rgb(25, 20, 7);
    border-radius: .8em;
}

.attack {
    /* display: none; */
    width: 6em;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(128, 14, 14);
    box-shadow: 0 0 67px rgb(169, 55, 55);
    font-weight: 700;
    font-size: 2em;
    color: rgb(218, 207, 207);
    padding: .25em;
    border-radius: .2em;
    border: 3px solid rgb(224, 169, 169);
}

.attack:hover {
    background-color: rgb(170, 27, 27);
    box-shadow: 0 0 67px rgb(241, 42, 42);
    border: 3px solid rgb(252, 209, 209);
    color: rgb(240, 231, 231);
}

.pickMagic {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f4cbad;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23e59661' fill-opacity='0.59' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    width: 43em;
    height: 22em;
    border: .5em solid rgb(76, 44, 29);
    padding: 2%;
    box-sizing: border-box;
    z-index: 1;
}

.magic-but {
    background-color: rgba(129, 104, 143, 0.93);
    box-shadow: 0 5px 40px rgba(0,0,0,0.9);
    width: 5.5em;
    font-size: 1.3em;
    color: rgb(234, 221, 239);
    padding: .35em;
    margin: .3em;
    border-radius: .2em;
    border: 2px solid rgb(76, 44, 29);
}

.magic-but:hover {
    background: rgba(161, 133, 177, 0.93);
    color: rgb(242, 234, 245);
    border: 2px solid rgb(88, 52, 35);    
} 

.totalScore {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    width: 3em;
    height: 2em;
}

.task {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4cbad;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23e59661' fill-opacity='0.59' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    width: 25em;
    height: 20em;
    border: .5em solid rgb(86, 77, 101);
    top: 71%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.task-text {
    font-size: 1em;
}

.task-answer {
    background-color: rgb(234, 221, 239);
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(35, 9, 9);
    box-shadow: inset 0 1px 8px rgb(63, 21, 78);
    font-size: 1em;
    font-weight: bold;
    color: rgb(35, 9, 9);
    margin-bottom: .75em;
    padding: .2em .2em;
    width: 50%;
}

::placeholder { 
    font-weight: 600;
    color: rgb(119, 119, 115);
}

.task-but {
    background-color: rgba(129, 104, 143, 0.93);
    box-shadow: 0 5px 40px rgba(0,0,0,0.9);
    width: 5em;
    font-size: 1.5em;
    padding: .25em;
    color: rgb(234, 221, 239);
    margin-top: 1em;
    border-radius: .2em;
    border: 2px solid rgb(76, 44, 29);    
}

.task-but:hover{
    background: rgba(161, 133, 177, 0.93);
    color: rgb(242, 234, 245);
    border: 2px solid rgb(88, 52, 35);   
}

.nextEnemy {
    display: none;
    font-weight: 800;
    position: absolute;
    top: 65%;
    left: 50%;
    width: 6em;
    height: 6em;
    transform: translate(-50%,-50%);
    background: radial-gradient( rgb(83, 169, 90) 30%, rgb(119, 221, 117) 100%);
    box-shadow: 0 0 30px rgb(102, 206, 79);
    font-size: 1.1em;
    color: rgb(228, 234, 225);
    padding: .25em;
    margin-top: 1em;
    border-radius: 50%;
    border: 3px solid rgba(13, 14, 12, 0.13);
}

.nextEnemy:hover {
    background: radial-gradient( rgb(83, 169, 90) 30%, rgb(164, 245, 162) 100%);
    box-shadow: 0 0 30px rgb(139, 241, 115);
    border: 3px solid rgba(13, 14, 12, 0.13);
    color: rgb(236, 245, 231);
}

.lost-screen {
    display: none;
    position: absolute;
    background-color: red;
    width: 900px;
    height: 506px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.2;
    z-index: 100;
}

.won-screen {
    display: none;
    position: absolute;
    background-color: green;
    width: 900px;
    height: 506px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.2;
    z-index: 100;
}