.game {
    display: none;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.canvas {
    border: 1px solid black;
}

.task {
    display: none;
    position: absolute;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    z-index: 100;
}

.lost-screen {
    display: none;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 100;
}

.won-screen {
    display: none;
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    opacity: 0.2;;
    z-index: 100;
}

.attack {
    display: none;
}

.pickMagic {
    position: absolute;
    display: none;
    flex-direction: column;
    list-style-type: none;
}
.pickMagic ul {
    list-style-type: none;
  }

.actionBarButton {
    width: 100px;
    height: 100px;
    background: yellow;
}
.actionBarButton:hover {
    background: tomato;
} 