.game {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.canvas {
    border: 1px solid black;
}

.actionBar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.actionBar ul {
    list-style-type: none;
  }

.actionBarBotton {
    width: 100px;
    height: 100px;
    background: yellow;
}
.actionBarBotton:hover {
    background: tomato;
}