.game-startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-start-bot {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 100px rgba(243, 189, 12, 0.9);
    width: 10em;
    margin: 5em auto;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(214, 201, 21);
    border: .1em solid rgb(214, 201, 21);
    border-radius: .3em;
}

.game-start-bot:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 60px rgba(243, 189, 12, 0.9);
    color: rgb(239, 225, 23);
    border: .1em solid rgb(239, 225, 23);
}

.game-rules {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0 auto;
    font-size: 1.7em;
    text-align: center;
    width: 25em;
    height: 17em;
    color: rgba(214, 201, 21, 0.9);
    box-shadow: 0 0 120px rgb(214, 201, 21);
    border: .1em solid rgba(214, 201, 21, 0.8);
}