body {   
     display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: rgb(133, 2, 11);
    background-image: url('../img/skulls.png');
    /* background-image: url('../img/skulls.png'), linear-gradient(to bottom,  rgb(56, 5, 8), rgb(133, 2, 11)); */
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 800px;
    margin: 50px;
    background-image: url('../img/MainBg.png');
    box-shadow: 0 0 100px rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    border-radius: 20px
}


