body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 182, 130);
    height: 100%; 
}

main {
    display: flex;
    justify-content: center;
}
