.login {
    font-family: "Open Sans",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23em;
    width: 15em;
    height: 18em;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid rgb(0,0,0);
    background: rgba(112, 94, 94,0.5);
}

.login h2 {
    margin: 0 0 1em 0;
}
.login form {
    display: block;
    width: 100%;
}

.login div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    text-align: left;
    font-weight: 800;
    margin-bottom: .375em;

}

.login input {
    background-color: rgba(154, 24, 24, 0.7);
    border-radius: 5px;
    border: 2px solid rgb(0,0,0);
    box-shadow: inset 0 0 40px rgb(49, 7, 7);
    text-align: center;
    font-size: 1em;
    color: rgb(35, 9, 9);
    margin-bottom: .75em;
    padding: .2em .2em;
    width: 93%;
}

::placeholder { 
    font-weight: 600;
    color: rgb(44, 3, 54);
}


.login input:hover {
    box-shadow: inset 0 0 25px rgb(49, 7, 7);
}

.login-but {
    background-color: rgb(156, 10, 22);
    box-shadow: inset 0 0 60px rgb(49, 7, 7);    
    width: 50%;
    color: rgb(32, 11, 11);
    padding: .5em;
    margin-top: .4em;
    border: 2px solid rgb(0,0,0);
    border-radius: .8em;
}

.login-but:hover{
    box-shadow:inset 0 0 30px rgb(49, 7, 7);  
}